[submodule "Tool/Compet/cs"]
	path = Tool/Compet/cs
	url = https://github.com/darkcompet/cs.git
[submodule "Tool/Compet/cs-http"]
	path = Tool/Compet/cs-http
	url = https://github.com/darkcompet/cs-http.git
[submodule "Tool/Compet/cs-net"]
	path = Tool/Compet/cs-net
	url = https://github.com/darkcompet/cs-net.git
[submodule "Tool/Compet/cs-net-json"]
	path = Tool/Compet/cs-net-json
	url = https://github.com/darkcompet/cs-net-json.git
[submodule "Tool/Compet/cs-net-http"]
	path = Tool/Compet/cs-net-http
	url = https://github.com/darkcompet/cs-net-http.git
[submodule "Tool/Compet/cs-net-efcore"]
	path = Tool/Compet/cs-net-efcore
	url = https://github.com/darkcompet/cs-net-efcore.git
[submodule "Tool/Compet/cs-asp"]
	path = Tool/Compet/cs-asp
	url = https://github.com/darkcompet/cs-asp.git
